# Copy to .env: cp example.env .env
# Prereq: docker network create generative-cybersecurity-network

MONGODB_INITDB_ROOT_USERNAME=mongouser
MONGODB_INITDB_ROOT_PASSWORD=mongopassword
MONGO_HOST_PORT=9000
